.pagination
  a.pagination__button(href="#" title="Seite") 1
  a.pagination__button(href="#" title="Seite") 2
  a.pagination__button(href="#" title="Seite") 3
  a.pagination__button(href="#" title="Mehr Seiten") ...
  a.pagination__button(href="#" title="Letzte Seite") 5