h2.section__header.section__header_font-size_24-32px_weight_900_color_black Mit dieser Ware kaufen:
#carousel
  ul.product-catalog
    include ../product/catalog/item/item_carousel
    include ../product/catalog/item/item_carousel
    include ../product/catalog/item/item_carousel
    include ../product/catalog/item/item_carousel