# Файлы и папки операционной системы
.DS_Store
Thumbs.db

# Файлы редактора
.idea
*.sublime*
.vscode

# Файлы gulp
node_modules/

# Вспомогательные файлы
*.log*

# Исходные файлы

# # Папка с собранными файлами проекта
# build/
# # Папка с собранными файлами проекта для разработчиков
# dev-build/
# Файлы из лаборатории
lab/**/*.jpg
lab/**/*.webp
lab/**/*.svg
lab/**/*.png
lab/**/*.gif
lab/**/*.tif

# Папка с собранными файлами проекта для разработчиков

#Папка с прототипом
prototype/