# Файлы и папки операционной системы
.DS_Store
Thumbs.db

# Файлы редактора
.idea
*.sublime*
.vscode

# Файлы gulp
node_modules/

# Вспомогательные файлы
*.log*
package-lock.json

# Исходные файлы

# Папка с собранными файлами проекта
# build/