.header__main-menu.main-menu#main-menu
  button.reset-button.main-menu__burger(aria-label='Открыть главное меню')
  .main-menu__panel
    button.reset-button.main-menu__close-button(aria-label='Закрыть главное меню')
    nav.header__nav.main-menu__nav
      ul.reset-list.main-menu__list
        li.main-menu__item
          a.main-menu__link(href='/#services') Услуги
        li.main-menu__item
          a.main-menu__link(href='/#portfolio') Портфолио
        li.main-menu__item
          a.main-menu__link(href='/#price') Стоимость
        li.main-menu__item
          a.main-menu__link(href='/#contacts') Контакты