li.product.cart-item.cart-list__item
  a.product__link.cart-item__link(href="/page-product/" title="Product")
    picture.product__picture.cart-item__picture
      source(srcset="/common/product/product_w_1035.webp 1035w, /common/product/product_w_690.webp 690w, /common/product/product_w_345.webp 345w" type="image/webp" sizes="(min-width: 768px) 150px, 50px")
      img.product__img.cart-item__img(src="/common/product/product_w_1035.jpg" alt="title of the product" width="50" height="50" srcset="/common/product/product_w_1035.jpg 1035w, /common/product/product_w_690.jpg 690w, /common/product/product_w_345.jpg 345w" sizes="(min-width: 768px) 150px, 50px")
  a.product__link.cart-item__text-link(href="/page-product/" title="Product").product__breafly.cart-item__breafly
    p.product__title.product__title_font-size_14-18-26px.cart-item__title Glattkantbrett, 20 x 95 mm, B/C Sortierung
    p.product__service.product__service_font-size_10-12px Auf Lager, Lieferung in 5-10 Werktagen
  button.cart-item__trash-can(title="löschen")
  .cart-item__numbers
    p.cart-item__msqr.product__numeral.product__numeral_font-size_14-18-24px 20,50 
      span.product__measure_font-size_font-size_14-18-24px m.sqr
    p.cart-item__lfm.product__numeral.product__numeral_font-size_14-18-24px 20,50 
      span.product__measure_font-size_font-size_14-18-24px lfm
    p.cart-item__price.product__numeral.product__numeral_font-size_14-18-24px 258,50 
      span.product__measure_font-size_font-size_14-18px €
    p.product__numeral-about.product__numeral-about_font-size_10-14px.cart-item__numeral-about Alle Preisangaben inkl. MwSt.