//- .select(role="listbox")
//-   button.select__lable Brett-Länge
//-   .select__list
//-     button.select__item(role="option" data-value="3000") 3000
//-     button.select__item(role="option" data-value="4000") 4000
//-     button.select__item(role="option" data-value="5000") 5000
//-     button.select__item(role="option" data-value="6000") 6000
//-     button.select__item.select__item_clear(role="option" data-value="") Brett-Länge
//- .select.select_multiple(role="listbox")
//-   button.select__lable Brett-Länge
//-   .select__list
//-     button.select__item(role="option" data-value="3000") 3000
//-     button.select__item(role="option" data-value="4000") 4000
//-     button.select__item(role="option" data-value="5000") 5000
//-     button.select__item(role="option" data-value="6000") 6000
//-     button.select__item.select__item_clear(role="option" data-value="") Clear