extends ../common/template
append head__page-styles
  link(rel="preload" href="/main/custom-style.css" as="style")
  link(rel="stylesheet" href="/main/custom-style.css")
append head__title
  title Главная страница
append content
  h1 Главная страница
  p Текст