.gallery
  ul.gallery__list 
    li.gallery__item
      a.gallery__link(href="/common/gallery/gallery_01_w_1035.jpg")
        figure.gallery__thumb-wrapper
          picture 
            source(srcset="/common/gallery/gallery_01_w_1035.webp 1035w, /common/gallery/gallery_01_w_690.webp 690w, /common/gallery/gallery_01_w_467.webp 467w" sizes="(min-width: 1480px) 467px, 345px")
            img.gallery__thumb(src="/common/gallery/gallery_01_w_690.jpg" srcset="/common/gallery/gallery_01_w_1035.jpg 1035w, /common/gallery/gallery_01_w_690.jpg 690w, /common/gallery/gallery_01_w_467.jpg 467w" alt="Detaillierte Beschreibung der Fotos" sizes="(min-width: 1480px) 467px, 345px")
          figcaption.gallery__thumb-desc Lorem ipsum dolor sit amet consectetur adipisicing elit.
    li.gallery__item
      a.gallery__link(href="/common/gallery/gallery_02_w_1035.jpg")
        figure.gallery__thumb-wrapper
          picture 
            source(srcset="/common/gallery/gallery_02_w_1035.webp 1035w, /common/gallery/gallery_02_w_690.webp 690w, /common/gallery/gallery_02_w_467.webp 467w" sizes="(min-width: 1480px) 467px, 345px")
            img.gallery__thumb(src="/common/gallery/gallery_02_w_690.jpg" srcset="/common/gallery/gallery_02_w_1035.jpg 1035w, /common/gallery/gallery_02_w_690.jpg 690w, /common/gallery/gallery_02_w_467.jpg 467w" alt="Detaillierte Beschreibung der Fotos" sizes="(min-width: 1480px) 467px, 345px")
          figcaption.gallery__thumb-desc Lorem ipsum dolor, sit amet consectetur adipisicing.
    li.gallery__item
      a.gallery__link(href="/common/gallery/gallery_03_w_1035.jpg")
        figure.gallery__thumb-wrapper
          picture 
            source(srcset="/common/gallery/gallery_03_w_1035.webp 1035w, /common/gallery/gallery_03_w_690.webp 690w, /common/gallery/gallery_03_w_467.webp 467w" sizes="(min-width: 1480px) 467px, 345px")
            img.gallery__thumb(src="/common/gallery/gallery_03_w_690.jpg" srcset="/common/gallery/gallery_03_w_1035.jpg 1035w, /common/gallery/gallery_03_w_690.jpg 690w, /common/gallery/gallery_03_w_467.jpg 467w" alt="Detaillierte Beschreibung der Fotos" sizes="(min-width: 1480px) 467px, 345px")
          figcaption.gallery__thumb-desc Lorem ipsum dolor sit amet.
    li.gallery__item
      a.gallery__link(href="/common/gallery/gallery_04_w_1035.jpg")
        figure.gallery__thumb-wrapper
          picture 
            source(srcset="/common/gallery/gallery_04_w_1035.webp 1035w, /common/gallery/gallery_04_w_690.webp 690w, /common/gallery/gallery_04_w_467.webp 467w" sizes="(min-width: 1480px) 467px, 345px")
            img.gallery__thumb(src="/common/gallery/gallery_04_w_690.jpg" srcset="/common/gallery/gallery_04_w_1035.jpg 1035w, /common/gallery/gallery_04_w_690.jpg 690w, /common/gallery/gallery_04_w_467.jpg 467w" alt="Detaillierte Beschreibung der Fotos" sizes="(min-width: 1480px) 467px, 345px")
          figcaption.gallery__thumb-desc Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit!
    li.gallery__item
      a.gallery__link(href="/common/gallery/gallery_05_w_1035.jpg")
        figure.gallery__thumb-wrapper
          picture 
            source(srcset="/common/gallery/gallery_05_w_1035.webp 1035w, /common/gallery/gallery_05_w_690.webp 690w, /common/gallery/gallery_05_w_467.webp 467w" sizes="(min-width: 1480px) 467px, 345px")
            img.gallery__thumb(src="/common/gallery/gallery_05_w_690.jpg" srcset="/common/gallery/gallery_05_w_1035.jpg 1035w, /common/gallery/gallery_05_w_690.jpg 690w, /common/gallery/gallery_05_w_467.jpg 467w" alt="Detaillierte Beschreibung der Fotos" sizes="(min-width: 1480px) 467px, 345px")
          figcaption.gallery__thumb-desc Lorem, ipsum dolor.
    li.gallery__item
      a.gallery__link(href="/common/gallery/gallery_06_w_1035.jpg")
        figure.gallery__thumb-wrapper
          picture 
            source(srcset="/common/gallery/gallery_06_w_1035.webp 1035w, /common/gallery/gallery_06_w_690.webp 690w, /common/gallery/gallery_06_w_467.webp 467w" sizes="(min-width: 1480px) 467px, 345px")
            img.gallery__thumb(src="/common/gallery/gallery_06_w_690.jpg" srcset="/common/gallery/gallery_06_w_1035.jpg 1035w, /common/gallery/gallery_06_w_690.jpg 690w, /common/gallery/gallery_06_w_467.jpg 467w" alt="Detaillierte Beschreibung der Fotos" sizes="(min-width: 1480px) 467px, 345px")
          figcaption.gallery__thumb-desc Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias rerum natus, quas doloremque provident delectus.