.gallery.gallery_narrow#gallery.product-view__gallery
  a.gallery__slider(href="#" title="---")
  ul.gallery__list.gallery__list_under-slider
    li.gallery__item.gallery__item_s
      a.gallery__slide(href="/common/product/product_w_1035.jpg")
        figure.gallery__thumb-wrapper
          picture 
            source(srcset="/common/product/product_w_1035.webp 1035w, /common/product/product_w_690.webp 690w, /common/product/product_w_465.webp 465w" sizes="(min-width: 1024px) 70px, 50px" type="image/webp")
            img.gallery__thumb.gallery__thumb_s(src="/common/product/product_w_1035.jpg" srcset="/common/product/product_w_1035.jpg 1035w, /common/product/product_w_690.jpg 690w, /common/product/product_w_465.jpg 465w" alt="Detaillierte Beschreibung der Fotos" sizes="(min-width: 1024px) 70px, 50px")
    li.gallery__item.gallery__item_s
      a.gallery__slide(href="/common/product/product_w_1035.jpg")
        figure.gallery__thumb-wrapper
          picture 
            source(srcset="/common/product/product_w_1035.webp 1035w, /common/product/product_w_690.webp 690w, /common/product/product_w_465.webp 465w" sizes="(min-width: 1024px) 70px, 50px" type="image/webp")
            img.gallery__thumb.gallery__thumb_s(src="/common/product/product_w_1035.jpg" srcset="/common/product/product_w_1035.jpg 1035w, /common/product/product_w_690.jpg 690w, /common/product/product_w_465.jpg 465w" alt="Detaillierte Beschreibung der Fotos" sizes="(min-width: 1024px) 70px, 50px")
    li.gallery__item.gallery__item_s
      a.gallery__slide(href="/common/product/product_w_1035.jpg")
        figure.gallery__thumb-wrapper
          picture 
            source(srcset="/common/product/product_w_1035.webp 1035w, /common/product/product_w_690.webp 690w, /common/product/product_w_465.webp 465w" sizes="(min-width: 1024px) 70px, 50px" type="image/webp")
            img.gallery__thumb.gallery__thumb_s(src="/common/product/product_w_1035.jpg" srcset="/common/product/product_w_1035.jpg 1035w, /common/product/product_w_690.jpg 690w, /common/product/product_w_465.jpg 465w" alt="Detaillierte Beschreibung der Fotos" sizes="(min-width: 1024px) 70px, 50px")
    li.gallery__item.gallery__item_s
      a.gallery__slide(href="/common/product/product_w_1035.jpg")
        figure.gallery__thumb-wrapper
          picture 
            source(srcset="/common/product/product_w_1035.webp 1035w, /common/product/product_w_690.webp 690w, /common/product/product_w_465.webp 465w" sizes="(min-width: 1024px) 70px, 50px" type="image/webp")
            img.gallery__thumb.gallery__thumb_s(src="/common/product/product_w_1035.jpg" srcset="/common/product/product_w_1035.jpg 1035w, /common/product/product_w_690.jpg 690w, /common/product/product_w_465.jpg 465w" alt="Detaillierte Beschreibung der Fotos" sizes="(min-width: 1024px) 70px, 50px")
    li.gallery__item.gallery__item_s
      a.gallery__slide(href="/common/product/product_w_1035.jpg")
        figure.gallery__thumb-wrapper
          picture 
            source(srcset="/common/product/product_w_1035.webp 1035w, /common/product/product_w_690.webp 690w, /common/product/product_w_465.webp 465w" sizes="(min-width: 1024px) 70px, 50px" type="image/webp")
            img.gallery__thumb.gallery__thumb_s(src="/common/product/product_w_1035.jpg" srcset="/common/product/product_w_1035.jpg 1035w, /common/product/product_w_690.jpg 690w, /common/product/product_w_465.jpg 465w" alt="Detaillierte Beschreibung der Fotos" sizes="(min-width: 1024px) 70px, 50px")
    li.gallery__item.gallery__item_s
      a.gallery__slide(href="/common/product/product_w_1035.jpg")
        figure.gallery__thumb-wrapper
          picture 
            source(srcset="/common/product/product_w_1035.webp 1035w, /common/product/product_w_690.webp 690w, /common/product/product_w_465.webp 465w" sizes="(min-width: 1024px) 70px, 50px" type="image/webp")
            img.gallery__thumb.gallery__thumb_s(src="/common/product/product_w_1035.jpg" srcset="/common/product/product_w_1035.jpg 1035w, /common/product/product_w_690.jpg 690w, /common/product/product_w_465.jpg 465w" alt="Detaillierte Beschreibung der Fotos" sizes="(min-width: 1024px) 70px, 50px")