header
  .container.header__container
    a.logo(href='#header' title='Художественная галерея Blanchard | Вернутся в начало')
      img.logo__img(src='./img/common/logo/logo.svg' alt='Художественная галерея Blanchard')