footer.footer
  .container.footer__container
    .footer__props-logo-and-copyright
      a(href="/" title="Sibirische Lärche").logo.footer__logo 
      ul.props.footer__props 
        li.props__item 
          a(href="/").props__link.footer__privat Datenschutz&nbsp;und&nbsp;Privatsphäre
        li.props__item 
          a(href="/").props__link.footer__sitemap Sitemap
      p.footer__copyright &copy;terrassen-larche.dе <span id="copyrightDate">2021</span>
