footer
  .container.footer__container
    a.logo(href='#header' title='Художественная галерея Blanchard | Вернутся в начало')
      img.logo__img(src='./img/common/logo/logo.svg' alt='Художественная галерея Blanchard')
    .footer__socials
      a.socials.socials_vk(href='#' title='Следовать в ВК')
      a.socials.socials_insta(href='#' title='Следовать в инстаграм')
      a.socials.socials_fb(href='#' title='Следовать в фейсбук')