//- Базовый шаблон сайта
<!DOCTYPE html>
html.html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-320, initial-scale=1.0")
    title
      | Ваш браузер устарел
    //
    //СТОРОНИИЕ СТИЛИ СКРИПТОВ И БИБЛИОТЕК
    //
    //Normalize.css
    link(rel="preload" href="thirdparty/normalize.css/normalize.css" as="style")
    link(rel="stylesheet" href="thirdparty/normalize.css/normalize.css")
    //
    //СТИЛИ ТЕКУЩЕЙ СТРАНИЦЫ
    //
    //Стили страницы с заглушкой для старых браузеров
    link(rel="preload" href="css/browserold.css" as="style")
    link(rel="stylesheet" href="css/browserold.css")
  body.body
    .patch
      h1.patch__header
        | Ваш браузер устарел
      img.patch__ie(src="img/pages/browserold/no-ie.png" alt="Перечёркнутый логотип Internet Explorer")
      p.patch__cta
        | Перейдите на сайт, используя другой браузер
      .patch__browsers
        a.patch__browsers-links(href="https://browser.yandex.ru/" title="Яндекс Браузер")
          img.patch__browsers-img.patch__browsers-img__y(src='img/pages/browserold/yandex_512x512.png' alt='Логотип Яндекс браузер')
        a.patch__browsers-links(href="https://www.mozilla.org/" title="Firefox Браузер")
          img.patch__browsers-img.patch__browsers-img__ff(src='img/pages/browserold/firefox_new_2_512x512.png' alt='Логотип браузера Firefox')
        a.patch__browsers-links(href="https://www.opera.com/" title="Opera Браузер")
          img.patch__browsers-img.patch__browsers-img__o(src='img/pages/browserold/opera_512x512.png' alt='Логотип браузера Opera')
        a.patch__browsers-links(href="https://www.microsoft.com/edge" title="Microsoft Edge Браузер (На основе Chromium)")
          img.patch__browsers-img.patch__browsers-img__e(src='img/pages/browserold/edge_512x512.png' alt='Логотип браузера Edge (chromium edition)')
        a.patch__browsers-links(href="https://www.google.ru/chrome/" title="Google Chrome Браузер")
          img.patch__browsers-img.patch__browsers-img__ch(src='img/pages/browserold/chrome_512x512.png' alt='Логотип браузера Google Chrome')
      p.patch__cta
        | или <a class="patch__dl-link" href="https://yandex.ru/soft/browsers/" title="Браузеры с сервисами Яндекс" target="_blank">воспользуйтесь ссылкой</a><br> для установки браузера, отличного от Internet Explorer.

    