//- Базовый шаблон сайта
<!DOCTYPE html>
html.html(lang="ru")
  block head
  head
    block head__meta
      //- Метатеги
      meta(charset="UTF-8")
      meta(name="viewport" content="width=device-width, initial-scale=1.0")
    block title
    //- Тайтл страницы (у каждой - свой)
    block head__fonts
      //ШРИФТЫ
      link(rel="preload" href="fonts/open-sans-v18-latin_cyrillic-regular.woff2" as="font" type="font/woff2" crossorigin="anonymous")
      link(rel="preload" href="fonts/open-sans-v18-latin_cyrillic-700.woff2" as="font" type="font/woff2" crossorigin="anonymous")
      link(rel="preload" href="fonts/open-sans-v18-latin_cyrillic-600.woff2" as="font" type="font/woff2" crossorigin="anonymous")
    block head__third-party-styles
      //
      //СТОРОНИИЕ СТИЛИ СКРИПТОВ И БИБЛИОТЕК
      //
    block head__main-styles
      //
      //ОБЩИЕ СТИЛИ (ИСП. НА КАЖДОЙ СТРАНИЦЕ)
      //
      //Normalize.css
      link(rel="preload" href="thirdparty/normalize.css/normalize.css" as="style")
      link(rel="stylesheet" href="thirdparty/normalize.css/normalize.css")
      //Основные стили сайта
      link(rel="preload" href="css/common.css" as="style")
      link(rel="stylesheet" href="css/common.css")
    block head__page-styles
      //
      //СТИЛИ ТЕКУЩЕЙ СТРАНИЦЫ
      //
  body.body
    //- Тело сайта
    block header
      //- Шапка сайта
      //- include ./common/header-with-main-menu/header-with-main-menu
    main.main
      block content
        //- Основной контент
      block footer
        //- Подвал сайта
        //- include ./common/footer/footer
    block body__scripts
      //
      //ПОДКЛЮЧЕНИЕ ОБЩИХ СКРИПТОВ (ИСП. НА КАЖДОЙ СТРАНИЦЕ)
      //
      //- //Полифил плавного скролла для Safari (2 файла. Исп. на каждой странице)
      //- script(src="thirdparty/smoothscroll/smoothscroll.min.js" defer)
      //- script(src="thirdparty/smoothscroll/smoothscroll-anchor-polyfill.min.js" defer)
    block body__page-scripts
      //
      //ПОДКЛЮЧЕНИЕ СКРИПТОВ ТЕКУЩЕЙ СТРАНИЦЫ (ОПЦИОНАЛЬНО)
      //
    block body__scripts-init
      //
      //ИНИЦИАЛИЗАЦИИ ОБЩИХ СКРИПТОВ (ИСП. НА КАЖДОЙ СТРАНИЦЕ)
      //
      //Если пользователь использует internet explorer, у него высветится сообщение о том, что его браузер больше не поддерживается
      script
        include ./common/init/ie.js
    block body__page-scripts-init
      //
      //ИНИЦИАЛИЗАЦИИ СКРИПТОВ ТЕКУЩЕЙ СТРАНИЦЫ (ОПЦИОНАЛЬНО)
      //
      
