extends common

append title
  title Главная страница

append head__third-party-styles
  //- //Стандартные стили swiper-а
  //- link(rel="preload" href="thirdparty/swiper/swiper-bundle.css" as="style")
  //- link(rel="stylesheet" href="thirdparty/swiper/swiper-bundle.css")
append head__page-styles
  //- //Стили главной страницы
  //- link(rel="preload" href="css/index.css" as="style")
  //- link(rel="stylesheet" href="css/index.css")
append content
  //- h1.visuallyhidden
  //-   | Художественная галерея Blanchard - Главная страница
  //- include ./pages/index/section-hero/section-hero
  //- include ./pages/index/section-about/section-about
append body__page-scripts
  //- //Скрипты главной страницы
  //- //
  //- //Swiper - слайдер (исп. во многих местах главной страницы)
  //- script(src='thirdparty/swiper/swiper-bundle.js' defer)
append body__page-scripts-init
  //- //Инициализация скриптов главной страницы
  //- //
  //- //Иниц. попап изображений из галереи
  //- script
  //-   include ./pages/index/section-gallery/includes/gallery.js