.accordion
  h2.accordion__header FAQ
  details.accordion__details(open)
    summary.accordion__summary Purus tortor aliquam.
    .article.accordion__article
      p Imtexs Wood vertreibt die sibirische Lärche mit großer Erfahrung und verlässlich, wobei wir Sie auf Wunsch direkt von Russland aus beliefern. Mit unserem eigenen Hobelwerk sind wir in der Lage, das Holz nach Ihren Wünschen und Vorstellungen für den späteren Einsatz vorzubereiten.
      p In unserem Sortiment finden Sie Holz aus sibirischer Lärche in verschiedenen Qualitäten. Passen Sie diese auf den jeweiligen Einsatzbereich und Ihre preislichen Vorstellungen an und nehmen Sie schon in Kürze das ausgewählte Holz in der gewünschten Menge in Empfang. Gerne hilft Ihnen der Service von Imtexs Wood, die ideale Holzqualität für Ihre anstehenden Projekte zu finden.
  details.accordion__details
    summary.accordion__summary Urna risus ut blandit sed iaculis integer lorem.
    .article.accordion__article
      p Imtexs Wood vertreibt die sibirische Lärche mit großer Erfahrung und verlässlich, wobei wir Sie auf Wunsch direkt von Russland aus beliefern. Mit unserem eigenen Hobelwerk sind wir in der Lage, das Holz nach Ihren Wünschen und Vorstellungen für den späteren Einsatz vorzubereiten.
      p In unserem Sortiment finden Sie Holz aus sibirischer Lärche in verschiedenen Qualitäten. Passen Sie diese auf den jeweiligen Einsatzbereich und Ihre preislichen Vorstellungen an und nehmen Sie schon in Kürze das ausgewählte Holz in der gewünschten Menge in Empfang. Gerne hilft Ihnen der Service von Imtexs Wood, die ideale Holzqualität für Ihre anstehenden Projekte zu finden.
  details.accordion__details
    summary.accordion__summary Ipsum elit ut aenean nibh sagittis.
    .article.accordion__article
      p Imtexs Wood vertreibt die sibirische Lärche mit großer Erfahrung und verlässlich, wobei wir Sie auf Wunsch direkt von Russland aus beliefern. Mit unserem eigenen Hobelwerk sind wir in der Lage, das Holz nach Ihren Wünschen und Vorstellungen für den späteren Einsatz vorzubereiten.
      p In unserem Sortiment finden Sie Holz aus sibirischer Lärche in verschiedenen Qualitäten. Passen Sie diese auf den jeweiligen Einsatzbereich und Ihre preislichen Vorstellungen an und nehmen Sie schon in Kürze das ausgewählte Holz in der gewünschten Menge in Empfang. Gerne hilft Ihnen der Service von Imtexs Wood, die ideale Holzqualität für Ihre anstehenden Projekte zu finden.
  details.accordion__details
    summary.accordion__summary Vitae sit sit ut mauris sem.
    .article.accordion__article
      p Imtexs Wood vertreibt die sibirische Lärche mit großer Erfahrung und verlässlich, wobei wir Sie auf Wunsch direkt von Russland aus beliefern. Mit unserem eigenen Hobelwerk sind wir in der Lage, das Holz nach Ihren Wünschen und Vorstellungen für den späteren Einsatz vorzubereiten.
      p In unserem Sortiment finden Sie Holz aus sibirischer Lärche in verschiedenen Qualitäten. Passen Sie diese auf den jeweiligen Einsatzbereich und Ihre preislichen Vorstellungen an und nehmen Sie schon in Kürze das ausgewählte Holz in der gewünschten Menge in Empfang. Gerne hilft Ihnen der Service von Imtexs Wood, die ideale Holzqualität für Ihre anstehenden Projekte zu finden.