
/*БАЗОВЫЕ ПАРАМЕТРЫ ДОКУМЕНТА
*
  box-sizing: border-box
::focus
  outline: none
// Remove border and padding in Firefox
::-moz-focus-outer, ::-moz-focus-inner
    border: 0
    padding: 0
// Плавный скролл и полифил
.html
  --scroll-behavior: smooth
  scroll-behavior: smooth
// Основной стиль страницы
