
/*БАЗОВЫЕ ПАРАМЕТРЫ ДОКУМЕНТА
//Размеры элементов включают в себя краницы и поля
*
  box-sizing: border-box
//Убираем аутлайн у элементов, не сфокусированных явно с клавиатуры
::focus:not(:focus-visible)
  outline: none
// Remove border and padding in Firefox
::-moz-focus-outer, ::-moz-focus-inner
    border: 0
    padding: 0
// Плавный скролл, если поддерживается
.html
  scroll-behavior: smooth